@font-face {
  font-family: "iconfont"; /* Project id 2915128 */
  src: url('iconfont.woff2?t=1646899295370') format('woff2'),
       url('iconfont.woff?t=1646899295370') format('woff'),
       url('iconfont.ttf?t=1646899295370') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e627";
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-nan_7:before {
  content: "\e614";
}

.icon-xitongpeizhi:before {
  content: "\e6b4";
}

.icon-tongji:before {
  content: "\e680";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-bumenguanli:before {
  content: "\e621";
}

.icon-caidan:before {
  content: "\e609";
}

.icon-jiaoseguanli:before {
  content: "\e618";
}

.icon-liuliangjiance:before {
  content: "\e61b";
}

.icon-zaixianjiance:before {
  content: "\e613";
}

.icon-jiankongshebei:before {
  content: "\e610";
}

.icon-shujuzhongxin:before {
  content: "\e648";
}

.icon-xitong:before {
  content: "\e611";
}

.icon-chuanganqi2:before {
  content: "\e8dd";
}

.icon-GISyingjizhihui:before {
  content: "\e612";
}

.icon-tupushujuyuan:before {
  content: "\e651";
}

.icon-icon-zhubianjufang:before {
  content: "\e60a";
}

.icon-d:before {
  content: "\e625";
}

.icon-luyouqi:before {
  content: "\e645";
}

.icon-chakandaping:before {
  content: "\e605";
}

.icon-yunzhuji:before {
  content: "\e6b8";
}

.icon-shuiweichuanganqi:before {
  content: "\ead2";
}

.icon-shuijinchuanganqi:before {
  content: "\e66e";
}

.icon-wenshiduchuanganqi:before {
  content: "\e700";
}

.icon-dapingzhanshi:before {
  content: "\e615";
}

.icon-gelidai:before {
  content: "\e69e";
}

.icon-wenduchuanganqi:before {
  content: "\e673";
}

.icon-fuwuqijiqun:before {
  content: "\e687";
}

.icon-zhanweifu:before {
  content: "\e626";
}

.icon-jiaohuanji:before {
  content: "\e836";
}

.icon-fuwuqi:before {
  content: "\e6d7";
}

.icon-jigui:before {
  content: "\e675";
}

.icon-jiankong:before {
  content: "\e620";
}

